
  <% if todo_item.completed? %>
    <div class="list-group-item list-group-item-success">
      <div class="todo_item">
        <p style="text-decoration: line-through; opacity:.4;"><%= todo_item.content %></p>
      </div>
      <div class="pull-right">
        <div class="trash">
          <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="list-group-item">
      <div class="todo_item">
        <p><%= todo_item.content %></p>
      </div>
      <div class="pull-right">
        <div class="inline">
          <%= link_to "UP", moveup_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
          |
          <%= link_to "Down", movedown_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
          |=|
          <%= link_to "Done", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
          |
          <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?"} %>
        </div>
      </div>
    </div>
<% end %>
